<!-- Basic Bootstrap Table -->
<div class="card">
	<h5 class="card-header">Toutes les oeuvres</h5>
	<div class="table-responsive text-nowrap">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Ref</th>
					<th>Description</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody class="table-border-bottom-0">
				{% for artwork in artworks %}
					<tr>
						<td><img src="{{ artwork.mainImage }}" style="max-height:50px"></td>
						<td>
							<strong>{{ artwork.title | u.truncate(20, '...', false) }}</strong>
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
								Launch demo modal
								</button>
						</td>
						<td>{{ artwork.ref }}</td>
						<td>{{ artwork.description | u.truncate(20, '...', false)}}</td>
						<td>
							<div class="dropdown">
								<button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
									<i class="bx bx-dots-vertical-rounded"></i>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{{ path('app_artwork_show', {'id': artwork.id}) }}">
										<i class="bx bx-show-alt me-1"></i>
										Détails
                                    </a>
									<a class="dropdown-item" href="{{ path('app_artwork_edit', {'id': artwork.id}) }}">
										<i class="bx bx-edit me-1"></i>
										Modifier</a>
								</div>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="15">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<!--/ Basic Bootstrap Table -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>